# Dependencies
node_modules/

# Builds
/dist/

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS / Editor
.DS_Store
*.swp
.idea/
.vscode/

# Coverage
coverage/

# Misc
.cache/
.tmp/

# TypeScript
*.tsbuildinfo
